@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h3>@ViewBag.MyMessage</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Send" />
</form>

You are using:
@Request.Browser.Browser

Asp.net is smart enough and email address like edde@outlook.com will not confuse the engine. However
twitter account like @@Edde should be writtin as @@@@Edde.

<hr />

You can use @@helper to define a function and you can use it anywhere even before it was defined.

@{
    var data = new List<Decimal> { 10, 22, -23.5m, 3, -2, 0 };
}
<ul>
    @foreach (decimal d in data)
    {
        <li>@formatAmount(d)</li>
    }
</ul>

@formatAmount(22)
<br />
@formatAmount(-22)

@helper formatAmount(decimal amount)
{
var color = "green";
if (amount < 0)
{
    color = "red";
}
    <span style="color:@color">@String.Format("{0:c}", amount)</span>
}